*{
    padding:0px;
    margin:0px;
}


header{
    
    background-image: url('https://cdn2.civitatis.com/china/pekin/excursion-gran-muralla-china.jpg');
    background-position: center;
    background-repeat: no-repeat;
    padding: 110px;
    border:1px solid black;
    
    
}

#encabezado{
    width:350px;
    margin-bottom:60px;
    border: 5px solid rgb(250, 230, 49);
}

#home{
    text-align:center;
    font-size: x-large;
    color:white;
    text-decoration:none;
    font-style: oblique;
}

#home:hover{
    font-style:normal;
}


#menu{

    margin-top: 40px;
    width:1000px;
    padding-top:30px;
    padding-bottom: 10px;
    /*border:1px solid  black;*/
    
}

#menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

li{
    background-color: darkred;
    border-radius: 15px;
    padding: 12px;
}


li a{
    color: white;
    text-decoration: none;
    padding:10px;
    border-radius: 15px;
    
}

li:hover{
    background-color:rgb(221, 22, 22);
        
}


/*Aqui comienza el main*/



main{
    padding-top:20px;
    background-color: rgba(250, 242, 171, 0.87);
    display:grid;
    row-gap: 10px;
    
}


main h2{
    font-size: x-large;
}

section{    
    width:95%;
    padding:20px;
    color: black;
    text-align: justify;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display:grid;
    row-gap: 20px;
    margin-left: auto;
    margin-right: auto;

}


#presentacion{
    font-size: large;
    font-weight: bolder;
}


#harbin1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#harbin2{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:1200px;

}


#harbin3{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:700px;

}
#songhua{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:800px;
    
    
}

.panelimages{
    display:flex;
    justify-content: space-between;
    margin-left:auto;
    margin-right: auto;
    width:1050px;
    
}

.panelimages img{
    width:500px;
}
    


.songhuaima{
    width:500px;
}


#santasofia{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}


.galeriaimages{   
    display: flex; 
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    border: olive 1px solid;
    padding:10px;    
}


.galeriaimages img{
    width:100px;
}


.galeriaimages img:hover{
    
    width: 120px;
    margin:-41px;
    position:absolute;
}



.videos{

    display:inline-flex;
    justify-content: space-between;
    margin-left:auto;
    margin-right: auto;
    width:1200px;

}

#Alan{
    color:blue;
    
}

/* aqui inicia el footer*/


footer{
    
    background-color:rgb(37, 4, 4);
    padding:70px;

    border-radius: 0px;
    border:1px solid black;
}


.icons{
    display:flex;
    justify-content: space-around;
    align-items:center;
    color:white;
    width: 400px;
    
}

#derechos{
    text-align: center;
    color:white;
}

#date{
    text-align: right;
    color:white;
}

#logo_final{
    width:100px;
    margin:auto;
    border: 3px solid white;

}

#logo_final h1{
    font-size: small;

}

